@tailwind base;
@tailwind components;
@tailwind utilities;

$colors: (
  fighting: #ce3f6a,
  psychic: #f97077,
  poison: #ab6ac8,
  dragon: #096dc3,
  ghost: #5269ab,
  dark: #595365,
  ground: #d97746,
  fire: #fe9c53,
  fairy: #ec8fe7,
  water: #4d90d5,
  flying: #8fa8de,
  normal: #9098a2,
  rock: #c6b889,
  electric: #f4d23b,
  bug: #90c02c,
  grass: #63bb5c,
  ice: #73cebf,
  steel: #5a8fa1,
  pokemon-blue: #3b5ca8
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply flex;
  @apply flex-col;
  @apply relative;
  @apply min-h-screen;
  background: theme("colors.black-dark");
  font-family: theme("fontFamily.flexo");
}

.pokemon {
  transition: scale 0.25s;
  animation: linear 0.5s down;

  h2 {
    text-shadow: 0 2px 5px transparentize(#000, 0.2);
  }

  &:hover {
    scale: 1.02;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(150px);
  }

  &-image {
    img {
      transition: transform 0.5s;
      animation: linear 0.5s toRight;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(-25deg);
      background-image: url("/pokeball-transparent.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      filter: invert(1);
      opacity: 0.2;
      z-index: -1;

      @screen xs {
        right: -4rem;
      }
    }
  }
}

.loader {
  height: 100dvh;
  background: rgba(255, 255, 255, 0.2);

  &-container {
    background-image: url("/pokeball-transparent.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: infinite 1s rotate;
  }
}

.pagination {
  .active button {
    @extend .bg-pokemon-blue;
  }
}

.filter-type {
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes rotate {
  0% {
    rotate: 360deg
  }
  100% {
    rotate: 0deg
  }
}

@keyframes down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: initial;
  }
}

@keyframes toRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: initial;
  }
}

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }

  .pokemon {
    &.#{$key} {
      box-shadow:
        0 10px 25px transparentize($value, 0.5),
        0 -1px 25px transparentize($value, 0.5);

      &::before {
        background-color: lighten($value, 5);
      }

      .pokemon {
        &-index {
          color: $value;
        }
      }
    }
  }
}
